<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozone.wehagopro.repository.mybatis.ItemMapper">


    <select id="findidpw" parameterType="String" resultType="Item2">
        SELECT * FROM t_user
        WHERE t_user_id = #{param1}
        AND t_user_password = #{param2}
    </select>

    <select id="findidemail" parameterType="String" resultType="Login">
        SELECT t_user_id FROM t_user
        WHERE t_user_email = #{email}
        AND t_user_name = #{name}
    </select>

    <select id="findidphone" parameterType="String" resultType="Login">
        SELECT t_user_id FROM t_user
        WHERE t_user_phone = #{param2}
        AND t_user_name = #{param3}
    </select>

    <select id="findpwemail" parameterType="String" resultType="Login">
        SELECT t_user_password FROM t_user
        WHERE t_user_email = #{param2}
        AND t_user_id = #{param3}
    </select>

    <select id="findpwphone" parameterType="String" resultType="Login">
        SELECT t_user_password FROM t_user
        WHERE t_user_phone = #{param2}
        AND t_user_id = #{param3}
    </select>

    <update id="updatepw" parameterType="String">
        UPDATE t_user SET t_user_password = #{param1}
        WHERE t_user_id = #{param2} AND t_user_password = #{param3}
    </update>

</mapper>