<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozone.wehagopro.repository.mybatis.SignUpMapper">

    <select id="idCheck" resultType="java.lang.String">
        select t_user_id from t_user where t_user_id = #{id}
    </select>

    <insert id="userSave" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO t_user (t_user_id,t_user_password,t_user_name,t_user_phone,t_user_email) VALUES
        (#{id},#{password},#{name},#{phoneNumber},#{email})
        RETURNING t_user_no AS no;
    </insert>

    <insert id="companySave" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO t_company (t_company_name,t_package_no,t_company_com_reg_num,t_company_clasification,
        t_company_business,t_company_sectors, t_company_representative,t_company_call_num, t_package_count) VALUES
        (#{companyName},#{packageNo},#{businessRegistrationNumber},#{businessType},#{businessStatus},#{businessCategory},
        #{representativeName},#{companyPhoneNumber}, #{packageCount})
        RETURNING t_company_no AS no;
    </insert>

    <insert id="organizationSave" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO t_organization (t_organization_name) VALUES
        (#{companyName})
        RETURNING t_organization_no AS no;
    </insert>

    <insert id="employeeSave" useGeneratedKeys="true" keyProperty="no">
        INSERT INTO t_employee (t_user_no,t_company_no,t_employee_auth,
        t_organization_no,t_employee_state) VALUES
        (#{userNo},#{companyNo},#{employeeAuth},#{organizationNo},2)
        RETURNING t_employee_no AS no;
    </insert>

    <select id="findServiceNoByPackageNo" resultType="java.lang.Integer">
        select t_service_no from t_components where t_package_no = #{no}
    </select>

    <select id="findServiceNoByServiceFree" resultType="java.lang.Integer">
        select t_service_no from t_service where t_service_free = 0;
    </select>

    <insert id="servicePublishedSave">
        INSERT INTO t_service_published (t_employee_no,t_service_no) VALUES
        (#{param1},#{param2})
    </insert>
    <select id="companyCheck" resultType="java.lang.String">
        select t_company_name from t_company where t_company_name = #{companyName}
    </select>

    <select id="findShortLinkByEmpNo" resultType="ShortLinkSignUpDto">
        select t_shortlink_link AS shortLink, t_shortlink_deadline AS shortLinkDeadLine  from t_shortlink where t_employee_no = #{empNo}
    </select>

    <select id="employeeStateCheck" resultType="java.lang.Integer">
        select t_employee_state from t_employee where t_employee_no = #{empNo}
    </select>

    <select id="findUserNoByEmployeeNo" resultType="java.lang.Integer">
        select t_user_no from t_employee where t_employee_no = #{empNo}
    </select>

    <update id="updateEmployeeStateTo2">
        UPDATE t_employee SET t_employee_state = 2 WHERE t_employee_no = #{empNo};
    </update>

    <update id="updateInvitedUser">
        UPDATE t_user SET t_user_id = #{userId}, t_user_password = #{userPw} WHERE t_user_no = #{userNo};
    </update>

</mapper>