<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozone.wehagopro.repository.mybatis.UserMapper">
    <select id="findByUserId" parameterType="String" resultType="com.dozone.wehagopro.domain.UserDto">
        select * from t_user where t_user_id = #{userId} AND t_user_state != 0;
    </select>
    <select id="getUserCompanyList" parameterType="String" resultType="com.dozone.wehagopro.domain.UserCompanyDto">
        SELECT
        c.t_company_no,
        MAX(c.t_company_name) AS t_company_name,
        MAX(c.t_company_business) AS t_company_business,
        MAX(c.t_company_sectors) AS t_company_sectors,
        MAX(c.t_company_representative) AS t_company_representative,
        MAX(c.t_company_call_num) AS t_company_call_num,
        MAX(c.t_company_clasification) AS t_company_clasification,
        e.t_employee_no,
        MAX(e.t_employee_date) AS t_employee_date,
        MAX(e.t_employee_auth) AS t_employee_auth,
        MAX(e.t_employee_position) AS t_employee_position,
        MAX(e.t_employee_duty) AS t_employee_duty
        FROM
        t_user u
        JOIN
        t_employee e ON u.t_user_no = e.t_user_no
        JOIN
        t_company c ON e.t_company_no = c.t_company_no
        WHERE
        u.t_user_id = #{userId} AND e.t_employee_state = 2
        GROUP BY
        c.t_company_no, e.t_employee_no;
    </select>
    <select id="getUserServiceList" parameterType="String" resultType="com.dozone.wehagopro.domain.UserServiceDto">
        SELECT
        t_employee.t_employee_no,
        t_service.t_service_name,
        t_service.t_service_path,
        t_service.t_service_main_icon_path,
        t_service.t_service_description
        FROM
        t_user
        JOIN
        t_employee ON t_user.t_user_no = t_employee.t_user_no
        JOIN
        t_service_published ON t_employee.t_employee_no = t_service_published.t_employee_no
        JOIN
        t_service ON t_service_published.t_service_no = t_service.t_service_no
        WHERE
        t_user.t_user_id = #{userId} AND t_service_published.t_service_recall = -1;
    </select>
    <update id="updateUser" parameterType="String">
        UPDATE t_user
        SET
        <if test="userPhoto != null">
            t_user_photo_path = #{userPhoto},
        </if>
        t_user_name = #{userName},
        t_user_email = #{userEmail},
        t_user_phone = #{userPhone},
        t_user_update_date = now()
        WHERE t_user_id = #{userId} AND t_user_state != 0;
    </update>
    <update id="updateUserPassword" parameterType="String">
        UPDATE t_user
        SET
        t_user_password = #{newPassword},
        t_user_update_date = now()
        WHERE t_user_id = #{userId} AND t_user_state != 0;
    </update>
    <select id="findByUserEmail" parameterType="String" resultType="String">
        SELECT t_user_email
        FROM t_user
        WHERE t_user_email = #{userEmail} AND t_user_state != 0;
    </select>
    <select id="findByUserPhone" parameterType="String" resultType="String">
        SELECT t_user_phone
        FROM t_user
        WHERE t_user_phone = #{userPhone} AND t_user_state != 0;
    </select>
    <select id="selectNoticeLimit5" resultType="NoticeSelectDto">
        SELECT *
        FROM t_notice
        WHERE t_company_no = #{companyNo}
        AND t_notice_state = 0
        ORDER BY t_notice_no DESC
        LIMIT 5;
    </select>
</mapper>