<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dozone.wehagopro.repository.mybatis.UserMapper">
    <select id="findByUserId" parameterType="String" resultType="com.dozone.wehagopro.domain.UserDto">
        select * from t_user where t_user_id = #{userId};
    </select>
    <select id="getUserCompanyList" parameterType="String" resultType="com.dozone.wehagopro.domain.UserCompanyDto">
        SELECT
        c.t_company_no,
        c.t_company_name,
        c.t_company_business,
        c.t_company_sectors,
        c.t_company_representative,
        c.t_company_call_num,
        c.t_company_clasification,
        e.t_employee_date,
        e.t_employee_auth,
        e.t_employee_position,
        e.t_employee_duty
        FROM
        t_user u
        JOIN
        t_employee e ON u.t_user_no = e.t_user_no
        JOIN
        t_company c ON e.t_company_no = c.t_company_no
        WHERE
        u.t_user_id = #{userId};
    </select>
    <select id="getUserServiceList" parameterType="String" resultType="com.dozone.wehagopro.domain.UserServiceDto">
        SELECT
        t_service.t_service_name,
        t_service.t_service_main_icon_path,
        t_service.t_service_description
        FROM
        t_user
        JOIN
        t_employee ON t_user.t_user_no = t_employee.t_user_no
        JOIN
        t_service_published ON t_employee.t_employee_no = t_service_published.t_employee_no
        JOIN
        t_service ON t_service_published.t_service_no = t_service.t_service_no
        WHERE
        t_user.t_user_id = #{userId} AND t_service_published.t_service_recall = -1;
    </select>
    <update id="updateUser" parameterType="String">
        UPDATE t_user
        SET
        <if test="userPhoto != null">
            t_user_photo_path = #{userPhoto},
        </if>
        t_user_name = #{userName},
        t_user_email = #{userEmail},
        t_user_phone = #{userPhone},
        t_user_update_date = now()
        WHERE t_user_id = #{userId};
    </update>
    <update id="updateUserPassword" parameterType="String">
        UPDATE t_user
        SET
        t_user_password = #{newPassword},
        t_user_update_date = now()
        WHERE t_user_id = #{userId}
    </update>
    <select id="findByUserEmail" parameterType="String" resultType="String">
        SELECT t_user_email
        FROM t_user
        WHERE t_user_email = #{userEmail};
    </select>
</mapper>